/*@import "tailwindcss";*/
@reference "tailwindcss";
@tailwindcss components;

@layer components {
    .list, .tab {
        @apply bg-violet-700;
    }
}

.list {
    /*min-height: 100vh;*/
    /*background-color: rgb(86, 5, 86);*/
}

@media screen and (min-width: 991px) {
    .list {
        /*min-height: 100vh;*/
    }
}

@media screen and (width < 991px) {
    .list {
        overflow: auto;
        /*max-height: 20vh;*/
    }

    /*.tab {
        width: 100%;
    }*/
}

.tab {
    /*background-color: rgb(102, 14, 102);*/
    color: white;
    border-radius: 0px;

    /*transition: 0.2s ease-in-out;*/
}

.tab:first-of-type {
    border-top: 1px solid black;
}

.tab {
    border-bottom: 1px solid black;
}

.tab:hover, .tab:active {
    background-color: fuchsia;
}